
.search-bar {
  margin: 7px !important;
  
}
.table-container {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: auto;
  padding: 0px !important;
}

.table-header {
  background-color: rgb(199, 171, 171);
  
}

.table-container {
  width: "95%";
  display: "block";
  
}

.action-button {
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.input-box {
  border-radius: 7px;
  padding: 3px;
}

.selected-row {
  background-color: #f0f0f0;
}

.delete-selected-button {
  margin: 10px;
  width: 130px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(199, 171, 171);
  cursor: pointer;
  display: inline;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin-top: 10px;
  display: inline;
}

@media (max-width: 768px) {
  .table-container {
    font-size: 14px;
    line-height: 1.3;
    padding: 8px;
  }
}

@media (min-width: 240px) {
  td {
    padding: 0px !important;
  }
  th {
    padding: 0px !important;
  }
}
